.skills i {
  padding-right: 15%;
  padding-bottom: 5%;
  font-size: 100px;
  box-sizing: border-box;
}

.skills .container p {
  font-size: 23px;
  display: inline;
}

.skills img {
  height: 100px;
  padding-right: 10%;
}

.skills {
  box-sizing: border-box;
}

.section-dark {
  color: #ddd;
}

/* .git {
  margin-left: 33%;
} */

.container {
  background: rgba(256, 256, 256, 0.5);
  text-align: center;
  border: 3px solid white;
  box-shadow: 0 0 25px;
  border-radius: 25px;
}
